/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: rgba(249, 249, 249, 1);
  --vt-c-white-soft: #f8f8f85d;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #1f1f1f; /* #43444d*/
  --vt-c-black-soft: #2c2c2c5d;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --vt-c-icon-light-1: rgba(60, 60, 67, 0.6);
  --vt-c-icon-dark-1: rgba(235, 235, 235, 0.6);

  --type-water: rgba(69, 146, 195, 1);
  --type-grass: rgba(149, 194, 77, 1);
  --type-poison: rgba(186, 126, 200, 1);
  --type-fire: rgba(253, 125, 37, 1);
  --type-normal: rgba(163, 172, 174, 1);
  --type-ghost: rgba(123, 98, 163, 1);
  --type-psychic: rgba(243, 102, 185, 1);
  --type-fairy: rgba(253, 185, 233, 1);
  --type-ground: rgba(221, 187, 85, 1);
  --type-flying: rgba(136, 153, 255, 1);
  --type-bug: rgba(170, 187, 34, 1);
  --type-electric: rgba(255, 204, 51, 1);
  --type-fighting: rgba(187, 85, 68, 1);
  --type-rock: rgba(187, 170, 102, 1);
  --type-steel: rgba(170, 170, 187, 1);
  --type-ice: rgba(102, 204, 255, 1);
  --type-dragon: rgba(119, 102, 238, 1);

  --gradient-team: linear-gradient(109.73deg, #46469c 0%, #7e32e0 100%);
  --gradient-favorites: linear-gradient(109.73deg, #65cb9a 0%, #15d0dc 100%);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color-icon: var(--vt-c-icon-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --color-icon: var(--vt-c-icon-dark-1);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
