@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;

  font-weight: normal;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

@font-face {
  font-family: 'SF Pro';
  src: url('./fonts/SF-Pro.ttf');
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display.otf');
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('./fonts/SF-Pro-Text.otf');
}
